*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Baskerville', serif;
font-family: 'Poppins', sans-serif;
}

body {
    background-color: #faf6f6;
}

      
       /*  Main area */


.main{
    width: 100%;
    height:100% ;
    display: flex;
    justify-content: center;
    align-items: center;
}    
div#second\ main{
        border: 2px solid white;
    width: 29rem;
    margin-top: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 35rem;
    background: linear-gradient(#efefef,#0f12c2);
    border-radius: 10px;
    box-shadow: 0 0 20px #000;
}



                  
                     /*  Actual inside navbar*/
                     
 div.navbar{
    border: 1px solid red;
    width: 100%;
    background-color: red;
    text-align: center;
    color:white;
    border-radius: 6px;
    height: 10%;
    padding-top: 12px;
    font-size: 20px;
    }
@media all and (max-width: 320px) {
    div.navbar{
        font-size: 15px;
    }
}


    /* Form section */

form{
    margin-top: 35px;
}    

form p{
    text-align: center;
}


form div.formoptions{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
#mainMonths{
    height: 34px;
    border: 1px solid white;
    border-radius: 4px;
    width: 15em;
    background-color: rgb(187, 182, 182);
    
}

#mainDates{
    height: 34px;
    border: 1px solid white;
    border-radius: 4px;
    width: 15em;
    background-color: rgb(187, 182, 182); 
}

button#Calculate\ button{
    text-align: center;
    height: 34px;
    border: 1px solid white;
    border-radius: 4px;
    width: 15em;
    background-color: rgb(187, 182, 182); 
    cursor: pointer;
    margin-left: 111px;
}

                 /* REsults area */
  div.results{
    display: none;
} 

.results{
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}                 
.result1P{
margin-bottom: 5px;
font-weight: bold;
}
#result1{
    height: 34px;
    border: 1px solid white;
    border-radius: 4px;
    /* 30em is best*/
    background-color: rgb(187, 182, 182); 
    color: black;
    font-weight: normal;
    text-align: center;
}


.result2P{
    margin-top: 15px;
    font-weight: bold;
    }
#result2{
    height: 34px;
    border: 1px solid white;
    border-radius: 4px;
    width: 15em;  /* 30em is best*/
    background-color: rgb(187, 182, 182); 
    color: black;
    font-weight: normal;
    text-align: center;
}


.result3P{
    margin-top: 15px;
    font-weight: bold;
    }


#result3{
    height: 34px;
    border: 1px solid white;
    border-radius: 4px;
    width: 15em; /* 30em is best*/
    background-color: rgb(187, 182, 182); 
    color: black;
    font-weight: normal;
    text-align: center;
}


              /*  Media queries */

@media all and (max-width:412px) {
    div#second\ main{
        height:40rem ;
    }    
form p{
    text-align: left;
    padding-bottom: 12px;
}    
form div.formoptions{
    gap: 20px;
}
#mainMonths{
    width: 100%;
}
#mainDates{
    width: 100%;
}  
button#Calculate\ button{
    position: relative;
    right: 45px;
}
}

            /* For orientation */
    @media all and (min-height:800px) {
        div#second\ main{
            margin-top: 110px;
        }        
    }     
    @media all and (min-height:850px) {
        div#second\ main{
            margin-top: 150px;
        }        
    }        

    @media all and (min-height:950px) {
        div#second\ main{
            margin-top: 180px;
        }        
    }     
    @media all and (min-height:1050px) {
        div#second\ main{
            margin-top: 230px;
        }        
    }     
    @media all and (min-height:1100px) {
        div#second\ main{
            margin-top: 280px;
        }        
    }     

                


